
* {
    margin: 0;
    padding: 0;
}
.header{
    background: gray;
    height: 80px;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
}
.aside{
    background: gray;
    height: 80px;
    width: 235px;
    float: left;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;

}
.main{
    background: gray;
    height: 200px;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
    margin-left: 325px;

}
.footer{
    background: gray;
    height: 80px;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;

}
.container{
    width: 1000px;
    margin: 0 auto;
    
}
@media (max-width: 1000px){
    .container{
        width: auto;
    }
}
@media (max-width: 576px){
    .aside{
        width: auto;
        float: none;
    }
    .main{
        margin: 10px;
    }
}