
* {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 200px;
    font-family: Arial;
    font-weight: bold;
    background: #d74931;
}

li {
    list-style-type: none;
}

.menu>ul >li {
    position: relative;
    list-style: none;
    background: url(../img/border.png);
    background-repeat: no-repeat;
    background-position: left;   
}

.menu>ul >li:first-child {
    /*border-left: 1px solid #c7c8ca;*/
    list-style: none;
    background: none;
}

.menu>ul li a {
    display: block;
    padding: 15px 30px 15px 40px;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
    
}
.menu li ul{
    width: 70px;
    position: absolute;
    display: none;
}
.menu li > ul li a{
    background: #e4e4e5;
    text-transform: lowercase;
}

.menu>ul {
    display: flex;
    justify-content: center;
}

.menu>ul li>a i.fa {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

.menu li a:hover {
    color: #f4da49;
    transition: all 0.3s ease;
}
.menu li:hover>ul{
    display: block;
}
.block{
    height: 200px;
    background: #454547;
    color: white;
    overflow: hidden;
    position: absolute;
}
.block1{
    height: 100px;
    width: 200px;
    background: red;
    position: relative; 
    top: 50px;
    left 100px;
}