*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 20px;
}
header{
    background-color: #ccc;
    height: 80px;
    margin: 10px;
}
aside{
    background-color: #ddd;
    height: 80px;
    margin: 10px;
    float: left;
    width: 235px;
}
main{
    background-color: #eee;
    height: 200px;
    margin: 10px;
    margin-left: 315px;
}
footer{
    background-color: #ccc;
    height: 80px;
    margin: 10px;
}
.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0 14px;
}
/*PC 1000px*/
@media screen and (max-width: 1000px){
    .container{
        width: auto;
    }
}
/* pad 576px*/
@media screen and (max-width: 576px){
    header{
        margin: 0;
    }
    .container{
        margin: 0;
        padding: 0;
    }
    aside{
        float: none;
        width: auto;
        margin: 0;
            
    }
    main{
        margin: 0;
    }
    footer{
        margin: 0;
    }
}