*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}
div.rightFixedImg{
    right: -20px;
    top: 100px;
    position: fixed;
}
div.leftFixedImg{
    left: -420px;
    top: 400px;
    position: fixed;
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 14px;
}

header {
    background-color: #d74931;
    height: 80px;
}

aside {
    background-color: #ddd;
    height: 80px;
    float: left;
    width: 235px;
}

main {
    background-color: #eee;
    margin-left: 315px;    /* 235x (ширина сайдбара) + 80px */
}

footer {
    background-color: #1a1b23;
    height: 80px;
    color:#e7e7e7;
}
table{
    width: 100%;
    border-collapse: collapse;
    background: #f2f2f2;
}
th{
    background: #d74a31;
}
table td,
table th{
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
}
table td:first-child,
table th:first-child{
    text-align: left;
}
table tr:nth-child(odd){
    background: #e8e8e8;
}
.subtitle{
    background: #b43d2e;
}
   
@media screen and (max-width: 1000px) {
 .container {
        width: auto;
    }

}
@media screen and (max-width: 1720px) {
    div.rightFixedImg {
           display: none;
       }
   }
   @media screen and (max-width: 1800px) {
    div.leftFixedImg {
        display: none;
    }
   }

@media screen and (max-width: 576px) {

    aside {
        width: auto;
        float: none;
    }

    main {
        margin: 0;
    }
    .container {
        padding: 0;
    }
}