.body1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;

}
.winter{
    color: #48a7ff;
}
.uwinter{
    list-style-image: url("../img/snowflake1.png");
}
.spring{
    color: #30c500;;    
}
.uspring{
    list-style-image: url("../img/leaflet.png");
}   
.sumer{
    color:#ffd171;;
}
.usumer{
    list-style-image: url("../img/sumer.png");
}
.autumn{
    color: #ff7100;
}
.uautumn{
    list-style-image: url("../img/droplet.png");
}
h1 {
    font-size: 30px;
}

ol {
    display: inline-block;
    text-align: left;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
}

ul {
    font: initial;
    font-family: Arial;
    font-size: 30px;
}